.title {
    position: fixed;
    margin: 20px 20px;
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 5px;
}

.side-text {
    font-weight: 600;
    font-size: 11px;
    display: block;
    position: fixed;
    top: 50%;
    letter-spacing: 5px;
    z-index: 1;
}

.side-text.left {
    transform: rotate(-90deg);
    left: 10px;
}

.side-text.right {
    transform: rotate(90deg);
    right: 10px;
}

.profile {
    position: absolute;
    left: 20%;
    top: 15%;
}

.profile img {
    width: 30%;
    min-width: 200px;
    box-shadow: 10px 10px 30px 15px #000000;
}

.card {
    display: block;
    position: absolute;
    left: 40%;
    top: 20%;
    width: 230px;
}

.hero {
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 7px;
    margin: 0;
}

.about {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-right: 10px;
}

.link {
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    width: 45px;
    padding-bottom: 3px;
    margin:14px 0;
    border-bottom: 1px solid;
    transition: width 0.2s;
    color: white;
    text-decoration: none;
}

.link:hover {
    width: 70px;
    cursor: pointer;
}


@media only screen and (max-width: 650px) {
    .card {
        margin-top: 30px;
        position: static;
        color: white;
        width: 100%;
    }

    .profile {
        position: static;
        width: 70%;
        margin: 0 auto;
    }
    
    .about {
        margin: 10px 0;
        text-align: justify;
    }
  }